p{
    color: red;
}

.first{
    color: blue;
    font-weight: bold;
}

.product{
    color: red;
}

#newproduct{
    color: blue;
}

a[href="https://google.com"]
{color: green;}

/* A better way to write the above code is down below */

a[href*=google] {
    color: purple;
}

/* -----> This is used when the P is the direct child of the parent */
/* #second_product p {
    color: brown;       
} */

/* #second_product > p {
    font-weight: bold;   ---> This is used when the P is grandchild in the hierarchy.
    color: black;
} */


/* ---> This is used when the P is the direct sibling of the selector. */
/* #second_product + p {
    font-weight: bold;
    font-style: italic;  
     
    color: black;
} */

/*This is used when the P is the general sibling of the selector */
#second_product ~ p{
    font-weight: bold;
    font-size: larger;
    font-style: italic;
}


/* Pseudo Selectors */

/* If we want to use any first child then we have to use this code */
/* article :first-of-type{
    font-weight: bold;
    font-style: italic;
    font-size: 140%;
} */

/* If we want to use the last child to get stylized we have to use  */
/* article :last-of-type{
    font-weight: bold;
    font-style: italic;
    font-size: 70%;
} */

/* If we want to use the specific child to get stylized we have to use  */
/* article p:last-of-type{
    font-weight: bold;
    font-style: italic;
    font-size: 70%;
} */

/* How to style an unordered list */
ul li:nth-child(odd){
    color: deeppink;
}

ul li:nth-child(even){
    color:deepskyblue;
}